<div class="text-center p-5 fs-1"> 
    <div class="text-center p-5 fs-1"><b>Welcome to BussPassManagementSystem</b></div><br/>
    <a href="~/buspass/Login" class="btn btn-danger mb-4 fs-3">Admin</a><br />
    <a href="~/buspass/ULogin"class="btn btn-danger fs-3">User</a>
</div>
