@model BusPassManagementSystem.Models.userdetails

@{
    ViewData["Title"] = "Signup";
}
<div class="text-center">
    <b><font face="Times New Roman" size="7" color="black">Signup Details</font></b>
</div>
<br />
<div class="row align-items-center">
    <div class="col-md-4 "></div>
    <div class="col-md-4">
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoB" class="control-label"></label>
                <input asp-for="DoB" class="form-control" />
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="Submit" value="Create" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    @{
    try
    {
        if(TempData["Signup"] !=null)
        {
            if(TempData["Signup"]=="1")
            {
                <script>
                swal("Good job!", "Signedup Sucecssfully!", "success");
                </script>
            }
            else
            {
                <script>
                swal("Error", "Signup Failed", "error");
                </script>
            }
        }
    }
    catch
    {
        
    }
}
 
